<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand mr-1" href="/"><img src="/favicon.ico" alt="" width="32" height="32" /> &nbsp; Carpooling</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/ridelist">Rides</a>
      </li>
    </ul>
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="/search">
  		<div class="input-group">
  			<input type="text" class="form-control" placeholder="Search rides..." aria-label="Search" aria-describedby="basic-addon2" name="gamename">
  			<div class="input-group-append">
  				<button class="btn btn-primary" type="submit">
  					<i class="fas fa-search"></i>
  				</button>
  			</div>
  		</div>
  	</form>
