<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="https://image.flaticon.com/icons/svg/890/890924.svg" width="140" height="140">
      <h2>Passenger</h2>
      <p>Got some place to be, but way of getting there? No problem, sign up now to start your first carpooling trip.</p>
      <p><a class="btn btn-secondary" href="/register" role="button">View details»</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://image.flaticon.com/icons/svg/1581/1581908.svg" width="140" height="140">
      <h2>Driver</h2>
      <p>Have a car and want to show off your driving skills while making some bucks on the side? Sign up now to be a driver. </p>
      <p><a class="btn btn-secondary" href="/register" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://image.flaticon.com/icons/svg/1507/1507440.svg" width="140" height="140">
      <h2>Both</h2>
      <p>Love being the driver and passenger? We offer an easy solution for you</p>
      <p><a class="btn btn-secondary" href="/register" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div><!-- /.container -->
