[transac_form.ejs]
<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Settle transaction details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Transaction details</h1>
        <form id="html_form" action = "/insert_transac" role="form" method="post">
            <div class="form-group">
				<label for="ownername">Owner</label>
				<input type="text" class="form-control" id="ownername" name="ownername" placeholder="Enter your name">
			</div>
			<div class="form-group">
				<label for="petname">Pet</label>
				<input type="text" class="form-control" id="petname" name="petname" placeholder="Enter your pet's name">
			</div>
			<div class="form-group">
				<label for="startdate">Start Date</label>
				<input type="text" class="form-control" id="startdate" name="startdate" placeholder="Enter the service start date">
            </div>
            <div class="form-group">
				<label for="enddate">End Date</label>
				<input type="text" class="form-control" id="enddate" name="enddate" placeholder="Enter the service end date">
            </div>
            <div class="form-group">
				<label for="caretakername">Caretaker</label>
				<input type="text" class="form-control" id="caretakername" name="caretakername" placeholder="Enter the caretaker's name">
            </div>
            <div class="form-group">
				<label for="paymentmethod">Payment method</label>
				<input type="text" class="form-control" id="paymentmethod" name="paymentmethod" placeholder="Enter the payment method">
            </div>
            <div class="form-group">
				<label for="modeoftransfer">Review</label>
				<input type="text" class="form-control" id="modeoftransfer" name="modeoftransfer" placeholder="Enter the mode of transfer">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
  </body>
</html>