<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<% if(status === "Bronze") { %>
			<i class="fas fa-chess-pawn fa-fw"></i>
		<% } else if(status === "Silver") { %>
			<i class="fas fa-chess-knight fa-fw"></i>
		<% } else { %>
			<i class="fas fa-chess-king fa-fw"></i>
		<% } %>
		
		<%= firstname %> <%= lastname %>
	</li>
</ol>