<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Carpooling</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
  </head>
	<body class="bg-dark">
		<div class="container">
			<div class="card card-register mx-auto mt-5">
				<div class="card-header">Create an Account</div>
				<div class="card-body">
					<form action="/reg_user" method="post">
						<div class="form-group">
							<div class="form-label-group">
								<input type="email" id="email" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" name="email">
								<label for="email">Email Address</label>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus" name="firstname">
										<label for="firstName">First name</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-label-group">
										<input type="text" id="lastName" class="form-control" placeholder="Last name" required="required" name="lastname">
										<label for="lastName">Last name</label>
									</div>
								</div>
							</div>
						</div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-label-group">
                    <input class="form-control" type="date" placeholder="DOB in YY/MM/DD" id="dob" name="dob">
                    <label for="dob">Date of Birth (YY-MM-dd)</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <select class="custom-select mb-2 mr-sm-2" id="inlineFormCustomSelect" name="gender">
                    <option selected>Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                  </select>
                  <!-- <labelfor="inlineFormCustomSelect">Gender</label> -->
                </div>
              </div>
            </div>
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-12">
									<div class="form-label-group">
										<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" name="password">
										<label for="inputPassword">Password</label>
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-primary btn-block" type="submit">Register</button>
					</form>
					<div class="text-center">
						<a class="d-block small mt-3" href="/">Back to home</a>
						<a class="d-block small" href="/password">Forgot Password?</a>
					</div>
				</div>
			</div>
		</div>
		<%- include bottomscript.ejs %>
  </body>
</html>
