<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Meeple World</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
  </head>
	<body class="bg-dark">
		<div class="container">
			<div class="card card-register mx-auto mt-5">
				<div class="card-header">
					At Meeple World, we pride ourselves in our security. <b>We do not keep your password as plaintext</b>. As such, we cannot retrieve your password.<br /><br />
					Additionally, the feature of email address has not been implemented. We are sorry we cannot send you the link to reset your password.
				</div>
				<div class="card-body">
					<div class="text-center">
						<a class="d-block small mt-3" href="/">Back to home</a>
					</div>
				</div>
			</div>
		</div>
		<%- include bottomscript.ejs %>
  </body>
</html>
