<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>The Collar Klub</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
  </head>
	<body class="bg-dark">
		<div class="container">
			<div class="card card-register mx-auto mt-5">
				<div class="card-header">Review Caretaker</div>
				<div class="card-body">
					<form action="/add_pets" method="post">
						<div class="form-group">
							<div class="form-row">
								<div class="col-md-12">
									<label for="username">Caretaker</label>
                                    <select class="form-control" id="username" name="username" required="required">
                                        <% for(var i=0; i<caretakers.length; i++) { %>
                                        <option><%= caretakers[i].username%></option>
                                        <% } %>
                                    </select>
								</div>
							</div>
                        </div>
                        <div class="form-group">
							<div class="form-row">
								<div class="col-md-12">
                                    <label for="description">Review</label>
									<div class="form-label-group">
                                        <textarea id="review" name="review" class="form-control" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
						
						<button class="btn btn-primary btn-block" type="submit">Submit Review</button>
					</form>
				</div>
			</div>
		</div>
		<%- include bottomscript.ejs %>
  </body>
</html>
</html>